/*__________________________________ Variables __________________________________*/
:root {
    --main-color: #19c8fa;
    --second-color: #e01b84;
    --second-color-hover: #7c0444;
    --transparent-color: rgb(15 116 143 / 70%);
    --Font-Color: white;
    --Font-Color2: #777;
    --section-padding: 100px;
}

/*__________________________________The Start Of Global rules__________________________________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

ul {
    list-style: none;
}
img {
    object-fit: cover;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: var(--section-padding) 0;
}
.section-title {
    text-align: center;
    margin-bottom: 20px;
}
h1.section-title{
    font-size: 30px;
    font-weight: 600;
color: var(--second-color);
}

.section-title h2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--primaryColor);
}

.section-title h2 span {
    color: var(--second-color);
}

.section-title p {
    line-height: 26px;
    margin: 30px 0 50px;
    color: var(--Font-Color2);
}
/*__________________________________End Global rules __________________________________*/

/*__________________________________The Start Of Media quarry __________________________________*/
/*__________________________________Small __________________________________*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*__________________________________MEdium __________________________________*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*__________________________________Large  __________________________________*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*__________________________________The End Of Media quarry __________________________________*/

/*__________________________________ Start Header __________________________________*/

#header {
    position: sticky;
    top: 0;
    z-index: 100;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
}

#nav-bar a {
    margin: 0 5px;
    color: var(--main-color);
}

#nav-bar a:hover {
    color: var(--second-color);
}

#nav-bar a:active {
    color: var(--second-color);
}

.menu {
    display: flex;
}

/*__________________________________ End Header __________________________________*/

/*__________________________________ Start Form __________________________________*/
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

}


#submit {
    padding: 5px;
    border: 1px solid #e01b84;
    background-color: var(--second-color);
    color: var(--Font-Color);
    transition: background-color .5s;
    font-weight: bold;
}

label {
    font-weight: bold;
}

#email {
    padding: 9px;
    border: 1px solid #e01b84;
    transition: background-color .5s;
    color: var(--Font-Color2);
}

#submit:hover {
    background-color: var(--second-color-hover);
    outline: none;
    cursor: pointer;
}

/*__________________________________ End Header __________________________________*/


/*__________________________________ Start Features __________________________________*/



.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat .feat-title {
    margin: 20px;
}


/*__________________________________ End Features __________________________________*/


/*__________________________________ Start video __________________________________*/


#video {
    width: 100%;
    margin: auto;
}

/*__________________________________ End video __________________________________*/
/*__________________________________ Start pricing __________________________________*/

.pricing .card {
    padding: 20px;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.pricing .card .card-title {
    margin: 20px;
}



/* __________________________________ End pricing __________________________________ --> */
/* __________________________________ start footer __________________________________ --> */

footer {
    background-color: var(--second-color);
    color: var(--Font-Color);
    padding: 20px;
    text-align: center;
}

/* __________________________________ End footer __________________________________ --> */
